    .Container{
        margin-bottom: 25px;
    }
        
    .Content{
        padding: 10px;
        border: 2px solid white;
        border-radius: 10px;
        width: 400px;
        position: relative;
    }

    .Right{
        margin-left: 45%;
    }

    .Date{
        margin-top: 2px;
        margin-left: 5px;
    }