.ConnectionSummary {
  display: flex;
  justify-content: space-between;
}

.Controls {
  display: flex;
  justify-content: space-around;
}

.Control {
  background-color: red;
}

.Info {
  display: flex;
  align-items: center;
}


.BigScreen {
  display: none;
}

@media (min-width: 992px) {
  .BigScreen {
    display: flex;
  }
  .SmallScreen {
    display: none;
  }
}