.ForgotPasswordContainer {
    width: 95%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
}

.ForgotPasswordContainer>h1 {
    font-size: 1.5em;
}

.Info {
    text-align: center;
}

.ForgotPasswordForm {
    width: 100%;
    margin: 0 auto;
   
}

.FormControls{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.ErrorMessage {
    text-align: center;
    color: red;
    font-size: 2rem;
}

@media (min-width: 576px) {
    .ForgotPasswordContainer {
        width: 80%;
        margin: auto;
        margin-top: 100px;
    }
    .ForgotPasswordContainer>h1 {
        font-size: 2em;
    }
    .ForgotPasswordForm{
        width: 100%;

    }
}

@media (min-width: 768px) {
    .ForgotPasswordContainer {
        width: 40%;
        margin-left: 30%;
    }
    .ForgotPasswordContainer>h1 {
        font-size: 2em;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}