.Profile{
    width: 75%;
    margin: 8% auto;
    text-align: center;
}
.ProfileColumns{
    display: grid;
    grid-template-columns: 1fr;
}
.Title{
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}
.GoBack{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
}
.Hr{
    border: 0;
    height: 0;
    border-top: 1px solid white;
}
.NavLink{
    text-decoration: none;
}

.NotificationBubble {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    position: absolute;
    top: -9.5px;
    right: -9.5px;
    margin: 0 !important;
}


@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .ProfileColumns{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5%; 
    }
    .Title{
        font-size: 3rem;
    }
    .Profile{
        text-align: left;
    }
}

@media (min-width: 1200px) {
}