.Profile{
    width: 75%;
    margin: 6% auto;
}
.ProfileColumns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}
.Title{
    font-size: 3rem;
    text-align: center;
}
.GoBack{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
}
.Hr{
    border: 0;
    height: 0;
    border-top: 1px solid white;
}
.NavLink{
    text-decoration: none;
}