.Register{
    width: 80%;
    margin: 4% auto;
}
.Register h1{
    margin-bottom: 5%;
    font-size: 1.5rem;
}
.Register a,.Register h2{
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.Register h2{
    margin-top: 5%;
}

.RegisterContainer{
    display: grid;
    grid-template-columns: 1fr;
}

.ErrorMessage{
    text-align: center;
    color: red;
    font-size: 2.5rem;
}

.ButtonRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 576px) {
    .Register{
        width: 65%;
    }
    .Register h1{
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .RegisterContainer{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .Register{
        width: 75%;
    }
    .ButtonRow{
        flex-direction: row-reverse;
    }
    .Register h2{
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .Register{
        width: 70%;
    }
    .Register h1{
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .Register{
        width: 60%;
    }
}