.ChatHead {
    /* margin-bottom: 35px;  */
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
}

.ChatWith {
    display: none;
}

.ChatHeadTitle {
    font-size: 1.3em;
    margin-left: 1em;
}

.RouteToProfile{
    text-align: center;
    font-weight: 450;
    margin-top: 1px;
}

.ProfilePictureContainer{
    width: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

strong {
    font-weight: 700;
    font-size: 1.5em;
}

@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .ChatHeadTitle {
        font-size: 1.2em;
    }
    .ChatWith {
        display: inline;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}