.ChatHead {
    margin-top: 7%;
    /* margin-bottom: 35px;  */
    width: 90%;
    margin-left: 10%;
    height: 12.5vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
    align-items: center;
}

.ChatWith {
    display: none;
}

.ChatHeadTitle {
    font-size: 1.3em;
}

strong {
    font-weight: 700;
    font-size: 1.5em;
}

@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .ChatHeadTitle {
        font-size: 1.2em;
    }
    .ChatWith {
        display: inline;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}