.ChatHead {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 90%;
    margin-left: 5%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
}


.ChatHeadTitle{
    font-size: 2em;
}

strong{
    font-weight: 700;
    font-size: 1.5em;
}