.Toolbar{
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    padding-bottom: 6%;
}
.Toolbar nav{
    width: 100%;
}