.Toolbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;
    background-color: transparent;
}

.Toolbar nav {
    width: 75%;
}

@media (max-width: 576px) {
    .Toolbar {
        bottom: 0;
        left: 0;
    }
    .Toolbar nav {
        width: 100%;
    }
}

