.Toolbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    padding-bottom: 4%;
}

.Toolbar nav {
    width: 100%;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}