.ProfilePicture{
    border-radius: 15px;
    max-height: 400px;
    max-width: 400px;
}
.ProfilePictureSearch{
    border-radius: 15px 0 0 15px;
}

.ChatHead{
    max-height: 100px;
    max-width: 100px;
    border-radius: 5px;
    border: white solid 2px
}

.ExistingChat{
    height: 100%;
    width: 50px !important;
    width: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.Profile{
    max-width: 100%;
    max-height:200px;
    margin: auto;
}

@media(min-width: 1550px){
    .Profile{
        max-height: 325px;
    }
}