.ProfilePicture{
    border-radius: 15px;
    max-height: 400px;
    max-width: 400px;
}
.ProfilePictureSearch{
    border-radius: 15px 0 0 15px;
}

.ChatHead{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    border: white solid 2px
}

.ExistingChat{
    height: 100%;
    width: 50px !important;
    border-radius: 5px;
}
.Profile{
    max-width: 100%;
    max-height:200px;
    margin: auto;
}

@media (min-width: 768px) {
    .ExistingChat{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media(min-width: 1550px){
    .Profile{
        max-height: 325px;
    }
}

