.Modal {
    background: linear-gradient(rgb(0, 174, 239), rgb(67, 64, 243));
    position: absolute;
    max-height: 80vh;
    width: 70%;
    overflow-y: scroll;
    padding: 1em;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

.Modal:focus {
    outline: none;
    border: none;
}

.Modal::-webkit-scrollbar {
    width: 10px;
}

.Modal::-webkit-scrollbar-track {
    background: linear-gradient(rgb(0, 174, 239), rgb(67, 64, 243));
    border-radius: 5px;
    /* border: 1.5px solid white; */
}

.Modal::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

.Modal::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);

}

.Close{
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}