.Modal {
    background: linear-gradient(rgb(0, 174, 239), rgb(67, 64, 243));
    position: absolute;
    max-height: 60vh;
    overflow-y: scroll;
    padding: 1em;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

.Modal:focus {
    outline: none;
    border: none;
}

.Modal::-webkit-scrollbar {
    width: 10px;
}

.Modal::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.Modal::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(67, 64, 243), rgb(0, 174, 239));
    border-radius: 5px;
}

.Modal::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(67, 64, 243, 0.8), rgb(0, 174, 239, 0.8));

}