.SendForm{
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-items: center;
    width: 95%;
    height: 10vh;
    margin-right: 1em;
}

.Input{
    padding: 0px;
    margin: 0px;
    width: 90%;;
}
