.StudentProfile{
    width: 75%;
    margin: 6% auto;
}
.ProfileColumns{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    column-gap: 5%;
}
.Title{
    font-size: 3rem;
    text-align: center;
}
.Header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}
.GoBack{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.ButtonGroup{
    display: flex;
    justify-content: flex-start;
}
.ButtonGroup button{
    margin-top: 0.5em;
}