.StudentProfile{
    width: 75%;
    margin: 13% auto;
    text-align: center;
}
.ProfileColumns{
    display: grid;
    grid-template-columns: 1fr;
}
.Title{
    font-size: 3rem;
    text-align: center;
}
.Header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}
.GoBack{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.ButtonGroup{
    display: flex;
    justify-content: flex-start;
}
.ButtonGroup button{
    margin-top: 0.5em;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .ProfileColumns{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10%; 
    }
    .StudentProfile{
        text-align: left;
        margin-top: 15%;
    }
}

@media (min-width: 1200px) {
    .StudentProfile{
        margin-top: 9%;
    }
}