.StudentProfile{
    width: 75%;
    margin: 13% auto;
    text-align: center;
}
.ProfileColumns{
    display: grid;
    grid-template-columns: 1fr;
}
.Title{
    font-size: 3rem;
    text-align: center;
}
.Header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}
.Row{
    display: block;
    margin: 1rem auto;
}
.Profile h2{
    font-size: 1.75rem;
    margin-top: 2.5%;
}
.Profile h4{
    margin-bottom: 3%;
}
.Name{
    text-align: center;
    font-size: 1.5rem !important;
}
.GoBack{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.ButtonGroup{
    display: flex;
    justify-content: flex-start;
}
.ButtonGroup button{
    margin-top: 0.5em;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .ProfileColumns{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5%; 
    }
    .StudentProfile{
        text-align: left;
        margin-top: 15%;
    }
    .Row{
        margin: 5rem auto;
    }
}

@media (min-width: 1200px) {
    .StudentProfile{
        margin-top: 4%;
    }
    .ProfileColumns{
        column-gap: 12%; 
    }
    .Name{
        font-size: 2rem !important;
    }
}