.NavigationItem, .GoBack{
    height: 100%;
    margin: 3%;
    box-sizing: border-box;
    display: block;
}
.NavigationItem:last-of-type{
  margin-right: 0;
}
.NavigationItem a, .GoBack {
    color: white;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.GoBack{
  margin-left: 0;
  margin-right: auto;
  cursor: pointer;
  padding: 15px 0;
}
.NavigationItem a:last-of-type{
  padding: 15px 0;
}
.NavigationItem a:after,.GoBack:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .NavigationItem a:hover:after,.GoBack:hover:after{ 
    width: 100%; 
    left: 0; 
  }

  @media (max-width: 992px) {
    .NavigationItem a {
      font-size: 3rem;
    }
    .GoBack{
      margin: 0;
      padding: 0;
      text-align: center;
      cursor: pointer;
    }
    .NavigationItem, .GoBack{
      margin: 4.5% 3%;
  }
  }