.ExistingChats {
    width: 55px;
    height: 70vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-top: 35px;
    padding-right: 5px;
    overflow-y: scroll;
    padding-bottom: 10px;
}


@media (min-width: 576px) {}

@media (min-width: 768px) {
    .ExistingChats {
        width: 25%;
        margin-right: 50px; 
        margin-left: 10px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}