.ExistingChats {
    width: 55px;
    height: 70vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    overflow-y: scroll;
}


.Conversation::-webkit-scrollbar {
    width: 10px;
}

.Conversation::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.Conversation::-webkit-scrollbar-thumb {
    background: rgb(31,124,241);
    border-radius: 5px;
}

.Conversation::-webkit-scrollbar-thumb:hover {
    background: rgb(31,124,241);
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .ExistingChats {
        width: 25%;
        margin-right: 50px; 
        margin-left: 10px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}