.Button {
    background-color: white;
    color: rgb(34,118,241);
    border-radius: 10px;
    display: block;
    border: 2px solid white;
    padding: 5px 15px;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 2% 1%;
    margin-right: 0;
    cursor: pointer;
    transition: 0.2s;
}

.Button:hover:enabled{
    background-color: transparent;
    color: white;
}

.Button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.NoPointer {
    cursor: default !important;
}

.SmallButton {
    padding: 5px 15px;
    font-size: 1rem;
    ;
    border-radius: 5px;
}

.MaxWidth{
    width: 100%;
}