/* .Container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    border: white solid 2px;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
} */

/* .UserName {
    background-color: white;
    color: #1c81f1;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2.5px;
    padding-top: 0px;
    padding-right: 0px;
    width: 100%;
    box-sizing: border-box;
} */

/* .PictureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
} */

/* .ContentContainer {
    margin-left: 5px;
} */

/* .LastMessage {
    padding: 2.5px;
} */

.Container {
    margin-top: 10px;
    margin-bottom: 10px;
   border: none;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ContentContainer {
    display: none;
    max-width: 100%;
   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.LastMessage, .UserName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PictureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
}




@media (min-width: 576px) {}

@media (min-width: 768px) {
    .Container {
        display: grid;
        grid-template-columns: 1fr 10fr;
        border: white solid 2px;
    }
    .ContentContainer {
        display: block;
        margin-left: 5px;
    }
    .UserName {
        background-color: white;
        color: #1c81f1;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 2.5px;
        padding-top: 0px;
        padding-right: 0px;
        width: 100%;
        box-sizing: border-box;
    }

    .LastMessage {
        padding: 2.5px;
    }
}



@media (min-width: 1200px) {}