.Map:first-child{
    height: 11rem;
    width: 16rem;
    margin: 0 auto;
}
.Map:first-child div {
    max-height: 11rem !important;
    max-width: 16rem !important;
}


@media (min-width: 576px) {
    .Map:first-child{
        height: 15rem;
        width: 20rem;
    }
    .Map:first-child div {
        max-height: 15rem !important;
        max-width: 20rem !important;
    }
}
@media (min-width: 992px){
    .Map:first-child{
        margin-left: 0;
        margin-top:0px;
    }
    .Map:first-child{
        height: 12rem;
        width: 17rem;
        margin-top:0px;

    }
    .Map:first-child div {
        max-height: 12rem !important;
        max-width: 17rem !important;
        margin-top:0px !important;
    }
}
@media(min-width:1550px){
    .Map:first-child{
        height: 15rem;
        width: 20rem;
    }
    .Map:first-child div {
        max-height: 15rem !important;
        max-width: 20rem !important;
    }
}