.Main h1{
    text-align: center;
    padding-top: 10%;
}
.FrontPage{
    width: 70%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.FrontPage h1 span{
    clear: both;
    display: block;
    width: 100%;
    font-size: 6.7rem;
    margin-bottom: -5%;
}
.Links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 10% auto;
}
.Links a, .Links > div{
    color:white; 
    text-decoration: none;
    text-align: center;
    margin: 5%;
    font-size: 4rem;
    font-weight: bold;
}
.NotificationBubble{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    position: absolute;
    top: 0%;
    right: 20%;
    margin: 0 !important;
}