.Brand {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.FrontPage h1 span, .Brand h1 span {
    clear: both;
    display: block;
    width: 100%;
    font-size: 1em;
    margin-bottom: -1.5vh;
}
.NotificationBubble {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    position: absolute;
    top: 0px;
    right: 6%;
    margin: 0 !important;
}

.BottomToolBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    padding-bottom: 4%;
    flex-wrap: wrap;
}

.BottomToolBar nav {
    width: 100%;
}

.NavigationItems {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.NavigationItem {
    height: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.NavigationItem a {
    color: white;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.SubText {
    font-size: 1.2em;
}

.Logo{
    max-width: 100%;
}

.NavigationItem a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.NavigationItem a:hover:after {
    width: 100%;
    left: 0;
}

@media (min-width: 768px) {
    .FrontPage {
        grid-template-columns: 1fr 2fr;
    }
    .Brand {
        margin: 10% auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 7%;
        align-items: center;
        width: 70%;
    }
    .Brand h1.SubText {
        font-size: 2em;
    }
    .NavigationItem a {
        font-size: 3.5em;
    }
    .BrandLoggedIn{
        width: 80%;
    }
    .NavigationItems{
        flex-direction: row;
        width: 60%;
        margin:0 auto;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .Brand h1.SubText {
        font-size: 3em;
    }
}