.ChatWindow{
    width: 72%;
    height: 70vh;
    box-sizing: border-box;
}

.Conversation{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 85%
}

.Input{
    margin: 15px
}

.Button{
    height: 15px;
    margin: 2% 1% 6% 1%;
}


.Conversation::-webkit-scrollbar {
    width: 10px;
}

.Conversation::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.Conversation::-webkit-scrollbar-thumb {
    background: rgb(31,124,241);
    border-radius: 5px;
}

.Conversation::-webkit-scrollbar-thumb:hover {
    background: rgb(31,124,241);
}