.ChatWindow{
    width: 72%;
    height: 70vh;
    box-sizing: border-box;
}

.Conversation{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 85%
}

.Input{
    margin: 15px
}

.Button{
    height: 15px;
    margin: 2% 1% 6% 1%;
}

