.ChatWindow{
    width: 100%;
    flex-grow: 1;
    
}

.Conversation{
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
}

.Input{
    margin: 15px
}

.Button{
    height: 15px;
    margin: 2% 1% 6% 1%;
}

