.Students{
    width: 75%;
    margin: 4% auto;
}
.GoBack{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
}
.SearchResults{
    margin: 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 50px;
}
.Header{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.Header h1 {
    text-align: left;
}
.Header Input {
    margin-top: 10%;
}