.Input{
    width: 100%;
    border-radius: 11px;
    color: rgb(0,174,239);
    border: 1px solid rgb(0,174,239);
    outline: none;
    padding: 6.5px 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    margin: 12.5px 1%;
}
.Input::placeholder{
    color: rgb(0,174,239);
}
.Invalid{
    border: 1px solid red;
    color: red;
}
.ValidationError {
    padding-left: 1%;
    color: red;
    margin: 5px 0;
} 
.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}


