.Input{
    width: 100%;
    border-radius: 11px;
    color: rgb(0,174,239);
    border: 2px solid transparent;
    padding: 6.5px 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    margin: 2% 1% 6% 1%;
    outline: none;
    transition-duration: 0.2s;
}
.Input::placeholder{
    color: #ccc;
}
.Input:focus, .Input:focus::placeholder{
    border-color: #222;
    color: #222;
    transition-duration: 0.2s;
}
.Invalid{
    border: 2px solid red;
    color: red;
}
.ValidationError {
    padding-left: 1%;
    color: red;
    margin-top: -3%;
} 
.Label{
    font-weight: bold;
    display: block;
    margin-left: 1%;
}
.Select:invalid{
        color: #ccc;
}
.Select option {
    color: rgb(0,174,239);
}
.DateError{
    margin-top: 1%;
}
.Textarea{
    resize: vertical;
    width: calc(200% + 25px);
}

.SendMessage{
   margin: 0px;
}