.Login{
    width: 70%;
    margin: 4% auto;
}
.ForgotPassword{
    cursor: pointer;
    display: block;
}
.Login form{
    width: 30%;
    margin: 10% auto;
}
.Login form div:last-of-type{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}