.Login {
    width: 85%;
    margin: 4% auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Login h1 {
    margin-bottom: 5%;
    font-size: 1.5em !important;
}

.ForgotPassword {
    cursor: pointer;
    display: block;
}

.Login form {
    width: 100%;
    margin: 0 auto;
}

.CreateNew{
    margin-top: 3% !important;
    font-size: 1.2em !important;
}

.FormControls {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.ForgotPassword {
    font-size: 1em !important;
    font-weight: normal !important;
    margin-top: 0px !important;
}

.ErrorMessage {
    text-align: center;
    color: red;
    font-size: 2.5rem;
}

.Login a, .Login h2 {
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media (min-width: 576px) {
    .Login form {
        max-width: 45%;
    }

    .Login h1{
        font-size: 2.5em !important;
    }
}

@media (min-width: 768px) {
    .Login {
        max-width: 1000px;
    }
}
@media (min-width: 992px) {
    .Login h1{
        font-size: 3em !important;
        padding: 0 5%;
    }
    .Login form{
        max-width: 35%;
    }
    .CreateNew{
        margin-top: 5% !important;
        font-size: 1.5em !important;
    }
}

@media (min-width: 1200px) {
    .Login form{
        max-width: 25%;
    }
    .Login h1{
        padding: 0 20%;
    }
}