.NavigationItems{
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    height: 100%;
}

@media (max-width: 576px) {
    .NavigationItems{
        justify-content: center;
    }
}
