.SetNewPasswordForm{
    width: 95%;
    box-sizing: border-box;
    margin: auto;
}

.ButtonReset{
    display: flex;
    justify-content: center;
}


@media (min-width: 576px) {
    .SetNewPasswordForm{
        width: 60%;
    }
}

@media (min-width: 768px) {
    .SetNewPasswordForm{
        width: 45%;
    }
}

@media (min-width: 992px) {
    .SetNewPasswordForm{
        width: 30%;
    }
}

@media (min-width: 1200px) {}

