body{
    background: linear-gradient(rgb(0,174,239),rgb(67,64,243)) no-repeat center center fixed;
    color:white;
    max-height: 100vh;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: linear-gradient(rgb(0, 174, 239), rgb(67, 64, 243));
    /* border: 1.5px solid white; */
}

*::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);

}