.DateInput{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    margin: 2% 1% 6% 1%;
}
.Input{
    width: 100%;
    border-radius: 11px;
    color: rgb(0,174,239);
    border: 2px solid transparent;
    outline: none;
    padding: 6.5px 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.2s;
}
.Input:focus, .Input:focus::placeholder{
    border-color: #222;
    color: #222;
    transition-duration: 0.2s;
}
.Input::placeholder{
    color: #ccc;
}
.Invalid{
    border: 1px solid red;
    color: red;
}
.ValidationError {
    padding-left: 1%;
    color: red;
    margin: 5px 0;
} 